@import "variables";
@import "media";

.title_nav{
    font-size:  $font_size_nav_title;
    font-weight: $font-weight-bold_700 ;
    color: $black_color;
    font-family:$font_family_sans;

}

.item_nav_active{
    font-size: $font_size_nav;
    font-family:$font_family_lato ;
    color: $orange_color;
    font-weight:  $font-weight-bold_700;
}
.item_nav{
    font-size: $font_size_nav;
    font-family:$font_family_lato ;
    color: $gris_nav_item;
    font-weight:  $font-weight-bold_700;
}

.Galaxy_title{
    font-size:  $font_size_glaxy_title;
    font-family: $font_family_lato;
    font-weight: $font-weight-semiBold ;
    color:$black_color ;

}

.paragraphe_galaxy{
    font-size: $font_size_paragraphe;
    font-family:$font_family_sans;
    font-weight: $font-weight-regular;
    color:$gris_color_paragraphe ;
    line-height: $ligne_height ;
}


.button_read_more{
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border_radius;
    color: $orange_color;
    background-color: $white_color;
    font-family:$font_family_sans;
    font-weight: $font-weight-bold_700;
    font-size: $font_size_btn;

}

.tags-title{
    color:$gris_color_paragraphe ;
    font-size: $font_size_btn;

}
.btn_previous{
    width: $width_previous;
    height:$height_previous;
    border: $border_previous;
    border-radius: $border_radius;
    background-color:$black_color ;
    color: $white_color;
    font-size:  $font_size_btn;
}
.footer_title{
font-size:  $font_size_btn;
font-family:$font_family_lato ;
font-weight: $font-weight-regular;
color: $gris_color_paragraphe;
text-transform: uppercase;


}