

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Montserrat:wght@100&family=Nunito:wght@700&family=Poppins:wght@300&family=Roboto:wght@100;300&family=Tajawal:wght@200&display=swap');
//font family
$font-family: 'OpenSans', sans-serif;
$font_family_lato:'Lato';
$font_family_sans:"OpenSans";


$font-weight-regular: 400;
 $font-weight-semiBold: 600;
 $font-weight-bold_700: 700;
 $font-weight-extra_bold: 700;
//COLOR
$black_color:#000000;
$orange_color:#ff6c40;
$gris_nav_item:#bfbfbf;
$gris_color_paragraphe:#535353;
$white_color:#ffffff;


 //font size
 $font_size_nav:15px;
 $font_size_nav_title:27px;
 $font_size_glaxy_title:22px;
 $font_size_paragraphe:15px;
 $font_size_btn:13px;



 $ligne_height:24px;


 //dimentions
 $width:124px;
 $height:26px;
$border_radius:5px;
$border:1px solid $orange_color;


$width_previous:135px;
$height_previous:35px;
 
$border_previous:1px solid $black_color;


