
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap'); 

$font-family: 'Poppins', sans-serif;

//color
$primary_color:#313b5b;
$title_color:#242f51;
$pink_color:#f55767;
$gris_color:#616368;
$white_color:#ffffff;
$blue_color:#2563ff;
$green_color:#40975f;
$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$integration_size_title:30px;
$integration_size_title-s:19px;
//sizing
$link_nav_size:16px;
$_size:15px;
$title_size:60px;
$title_size_s:30px;
$font_size_to_paragraphe:18px;
$font-size-section_two:20px;
$designed_title_size:36px;
$designed_title_size_s:25px;

$line-heigth:45px;
$line-heigth-paragraphe:24px;

//dimentions
$btn_width:170px;
$height:57px;
$border_radius:28.25px;
$border:1px solid $pink_color;
$btn_width_s:125px;
$height_s:50px;
$height_footer:378px;
$text_decoration:none;
$height_footer-s:500px;
$margin_top:7rem;
$margin_top-s:2rem;
